* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333333;
}

h1, h2, h3 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: linear-gradient(to right, #1E90FF, #000000);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF; 
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFD700;
}

main {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

h3 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #000000;
}

div {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 30px;
}

div h3 {
    font-size: 1.5em;
    color: #333333
}

div p {
    font-size: 1.2em;
    color: #555555
}

footer {
    background: #1E90FF;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1em;
}
